@page "/f33kvs/details"
@inject Smart.Meters.Data.ApplicationDbContext DB
@using Smart.Meters.Model
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>F33KV</h4>
    <hr />
    @if (f33kv is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@f33kv.Description</dd>
            <dt class="col-sm-2">Code</dt>
            <dd class="col-sm-10">@f33kv.Code</dd>
        </dl>
        <div>
            <a href="@($"/f33kvs/edit?id={f33kv.ID}")">Edit</a> |
            <a href="@($"/f33kvs")">Back to List</a>
        </div>
    }
</div>

@code {
    F33KV? f33kv;

    [SupplyParameterFromQuery]
    public int ID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        f33kv = await DB.F33KV.FirstOrDefaultAsync(m => m.ID == ID);

        if (f33kv is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
